.intro {
  &-section {
    padding: 0 12rem;
    margin-top: 20rem;
  }

  &-tit {
    border-bottom: 0.1rem solid $secondary-color;
    padding-bottom: 0.5rem;
    font: {
      family: $font-eng-tit;
      size: 2rem;
    }
  }

  &-wrap {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
  }

  &-sub {
    margin-top: 10rem;
    font: {
      size: 2.8rem;
      weight: 600;
    }
  }

  &-des {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-evenly;
  }

  &-bubble {
    visibility: hidden;
    transition: visibility 0.3;
    position: relative;
    padding: 1.5rem 1.7rem;
    border-radius: 0.8rem;
    color: $primary-color;
    white-space: wrap;
    background-color: $secondary-color;
    text-align: left;
    min-width: 20rem;
    max-width: 30rem;
    width: fit-content;

    &::after {
      position: absolute;
      display: block;
      width: 1.4rem;
      height: 1.6rem;
      background: url(./../images/tail.svg) no-repeat center center / contain;
    }

    &.left::after {
      content: "";
      right: 0;
      bottom: -0.8rem;
    }

    &.right::after {
      content: "";
      left: 0;
      bottom: -0.8rem;
      transform: scaleX(-1);
    }

    p {
      letter-spacing: -0.1rem;
      word-break: keep-all;
      font: {
        size: $font-medium;
      }
    }
  }

  &-img {
    max-width: 50rem;
    max-height: 50rem;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    overflow: hidden;
    align-self: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
